<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.linkedin.com/in/dinesh-reddypogu-b29497297/" class="info-links"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://www.instagram.com/ig_dinesh/" class="info-links"><i class="fa-brands fa-instagram"></i></a></i>
           <a href="https://github.com/16Dinesh" class="info-links"><i class="fa-brands fa-github"></i></a> 
        </div>
        <div class="f-inf0-brand"> &copy;; TrekToDo  Private Limited</div>
        <div class="f-info-links">
            <a href="/#">Privacy</a>&nbsp;&nbsp;|&nbsp;
            <a href="/#">Terms & Conditions</a>&nbsp;&nbsp;|&nbsp;
            <a >Done by Dinesh.R</a>
        </div>
    </div> 
</footer>